body {
    font-family: 'consolas';
    margin: 0;
}

.game {
    background-color: lightblue;
    width: 100vw;
    height: 100vh;
}

.start-screen {
    width: 500px;
    padding: 30px;
    text-align: center;
    font-size: 48px;
    background-color: lightgreen;
    position: absolute;
    left: 33%;
    top: 30%;
}

.start-screen:hover {
    background-color: green;
    cursor: pointer;
}

.game-screen {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.hidden {
    display: none;
}